<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="title">{{ 'app_title' | translate | titlecase }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="form">
          <ion-item>
            <ion-label position="floating">{{ 'login.email' | translate | titlecase }}</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <app-error-message [display]="error(email(), 'required')" error="'required'"
          message="{{ 'login.errors.email.required' | translate }}"></app-error-message>
          <app-error-message [display]="error(email(), 'email')" error="'email'"
          message="{{ 'login.errors.email.form' | translate }}"></app-error-message>

          <ion-item>
            <ion-label position="floating">{{ 'login.password' | translate | titlecase }}</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <app-error-message [display]="error(password(), 'required')" error="'required'"
          message="{{ 'login.errors.password.required' | translate }}"></app-error-message>
          <app-error-message [display]="error(password(), 'minlength')" error="'minLength'"
          message="{{ 'login.errors.password.minLength' | translate }}"></app-error-message>

          <ion-button color="title" fill="clear" size="full">{{ 'login.forgot' | translate | titlecase }}</ion-button>
          <ion-button color="title" size="full" (click)="login()" [disabled]="!form.valid">{{ 'login.submit' | translate | titlecase }}</ion-button>
          <!-- <ion-button color="title" fill="clear" size="full">{{ 'login.register' | translate | titlecase }}</ion-button> -->
        </form>  
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
